[submodule "Dred/vendor/GLFW"]
	path = Dred/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Dred/vendor/spdlog"]
	path = Dred/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dred/vendor/imgui"]
	path = Dred/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
